$medium: 800px;
.Signup {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;

    .signup-box {
        border: 1px solid rgb(255, 0, 0);
        padding: 40px;
        min-width: 400px;
        border-radius: 8px;
        background-color: white;

        label , input {
            display: block;
            width: 100%;
            margin-block: 8px;
        }

        label {
            font-weight: bold;
        }

        input {
            padding: 8px 16px;
            border: 1px solid black;
            border-radius: 10px;
        }

        .submit {
            background-color: #29b4ff;
            color: white;
            border: none;
            margin-top: 16px;
            font-weight: bold;
        }

        .submit:hover {
            background-color: #249dde;
        }

        .subheading {
            text-align: center;
        }
    }
}

@media screen and (max-width: $medium) {
    .Signup {
        display: flex;
        align-items: center;
        justify-content: center;

        // .signup-box {
        //     width: 100vw;
        //     height: 100vh;
        // }
    }
}