* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hover-link {
  cursor: pointer;
}

.hover-link:active {
  color:  #d14134;
}

.container {
  /* max-width: 960px; */
  margin-inline: auto;
}

.btn-primary {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(44, 136, 172);
  color: wheat;
  cursor: pointer;
}

.btn-secondary {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

