$medium: 800px;

.Follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

        .user-info {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }

    .follow-link {
        color: rgb(28, 66, 189);
    }

    .unfollow {
        border: 1px solid black;
        padding: 4px 10px;
        border-radius: 8px;
        color: #990011FF;
        // background-color: hsl(0, 0%, 32%);
   }

}

@media screen and (max-width: $medium) {
    .Follower {
       display: flex;
       flex-direction: column;
       border: 1px solid rgb(126, 124, 124);
       border-radius:20px;
       gap: 5px;

       h4 {
        font-size: 0.8rem;
       }

        .tag {
            font-weight: 100;
            font-size: 0.8rem;
            padding: 4px 10px;
            color: rgb(255, 255, 255);
        }
    }

}