.Follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

        .user-info {
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;
        }

    .follow-link {
        color: rgb(28, 66, 189);
    }
}