.NavBar {
  min-width: 500px;
  padding: 5px;
  height: 60px;
  background-color: rgb(44, 43, 43);
  border: 1px solid rgb(72, 69, 69);

  .container {
    max-width: 960px;
    height: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .banner {
      color: white;
    }

    .right-side {
      display: flex;
      align-items: center;
      gap: 20px;

        .logout {
          font-size: 2rem;
          display: flex;
          align-items: center;
          color: white;
        }
    }
  }

}
